# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
.yarn/*
!.yarn/releases
!.yarn/plugins
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/

# files
*.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
